/**********************************************
		BASIC STYLING FORMS

		**************************************/

		form {
			div {
				margin: 2em 0;
			}
		}
		input, textarea {
			caret-color: white;
			height: 50px;
			color: white;
		}
		
		label, input, button[type=submit], textarea {
			display: block;
			width: 100%;
			padding: 0;
			border: none;
			outline: none;
			box-sizing: border-box;
		}
		
		button[type=submit] {
			padding-top: 1rem;
			padding-bottom: 1rem;
			background-color:#3d314a;
			box-shadow:  20px 20px 60px #342a3f,
             -20px -20px 60px #463855;
			border: 1 px solid #463855;
			margin-top: 1rem;

			&:hover {
				box-shadow: inset 20px 20px 60px #342a3f,
            inset -20px -20px 60px #463855;
			}
		}		
		
		label {
			margin-bottom: 4px;
		}
		
		label:nth-of-type(2) {
			margin-top: 12px;
		}
		
		input::placeholder, textarea::placeholder {
			color: rgba(255, 255, 255, 0.5);
		}
		
		input, textarea {
			background: #3d314a;
			padding: 10px;
			padding-left: 20px;
			font-size: 14px;
			border-radius: 10px;
			border-bottom-left-radius: 0;
			border-top-right-radius: 0;
			box-shadow: inset 9.91px 9.91px 14px #342a3f, inset -9.91px -9.91px 14px #463855;
		}

		textarea {
			height: 150px;
		}

		input:invalid, textarea:invalid {
			border: 2px solid rgba(214,80,37, 0.3);
		}
		

		
	