/**********************************************
		POSITIONNING

		**************************************/
.fixed-sidebar {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.logos-container {
	column-gap: 1em; 

	@media(min-width: 767px) {
		column-gap: 3em;
	}
}

.panel {
	padding-top: 64px;

	@media(min-width: 992px) {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 0;
	}

	transition: all 0.5s;
	@media(min-width: 768px) {
		/* padding: 2em; */
	}
}

.section-content {
	@media(max-width:768px) {
		padding-bottom: 60px;
	}
}

#contact-section .section-content {
	flex-grow: 1;
}