/**********************************************
		POSITIONNING

		**************************************/
.fixed-sidebar {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.logos-container {
	column-gap: 3em;
}

.panel {
	@media(min-width: 768px) {
		padding: 2em;
	}
}
.section-content {
	@media(max-width:768px) {
		padding-bottom: 60px;
	}
}