/**********************************************
		STYLING NAVIGATION 

		**************************************/



.navbar-toggler {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
  .navbar-toggler-icon {
    background:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  padding: 0 0.25rem;
}


.git svg {
  width: 30px;
  height: 30px;
}

// NAVBAR COLORS
.navbar {
  
  .navbar-brand {
    font-family: $font__primary;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: $color__accent;
  }

  .git {
    svg {
      fill: $color__alt_light;
    }
  }
}

    
   