/**********************************************
		ELEMENT STYLING

		**************************************/

/**********************************************
    LEAVE THE FOLLOWING SECTION 
  	**************************************/

/* HEADER / NAV CONTAINER */

header.header {
  background-color: $background__dark;
  width: 100%;
  position: relative;
  top: 1px;
  z-index: 100;
  opacity: 1;
  -webkit-box-shadow: -1px 5px 15px -4px rgba(0,0,0,0); 
  box-shadow: -1px 5px 15px -4px rgba(0,0,0,0);
  transition: all .5s;
  height: 50px;

  &.sticky {
    position: fixed;
    -webkit-animation: 1s slide ease;
    animation: 1s slide ease;
    -webkit-box-shadow: -1px 5px 15px -4px rgba(0,0,0,0.42); 
    box-shadow: -1px 5px 15px -4px rgba(0,0,0,0.42);
  }
}



.circled {
  border-radius: 50%;
}

.item {
  filter: grayscale(100%);
}

.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2); 
}

.item {
  width: 200px;
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
  @media(min-width: 992px) {
    width: auto;
  }
}
.item .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.element-on-mobile-only {
  @media(min-width: 1200px) {
    display: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// COLORS
.color-accent  {
  color: $color__accent;
}


h2 {
  color: $color__headline;
}

p, li {
  font-size: .8em;
  margin-bottom: 1rem;

  @media(min-width:767px) {
    font-size: 1em;
  }
  
  .color-white {
    color: white;
    font-size: 1.4em;
  }
}

p {
  line-height: 1.7;
}

li {
  line-height: 1.2;
}

.flag {
  display: none;
  padding: 5px 0;
  margin-left: 5px;

  @media(min-width: 992px) {
    display: list-item;
  }
  
  img {
  transition: all .5s;
  }

  &:before {
    content: " | ";
    color: $color__alt_light;
    margin-right: 10px;
  }
}

.git {
  display: none;

  @media(min-width: 992px) {
    display: block;
  }
  
  img {
  transition: all .5s;
  }
}

.flag:hover img {
  transform:translate(1px, 1px);
}


// TYPO
.bold {
  font-weight: $bold;
}
.uppercase {
  text-transform: uppercase;
}
.headline {
  font-family: $font__headline;
  font-weight: 700;
  font-size: $size-headline;
}

.headline--is-gigantic {
  font-size: $size-headline-gigantic;
}
.headline--is-small {
  font-size: $size-smaller-headline;
  font-weight: 400;
}
.headline--is-light {
  color: $headline--is-light;
}
.headline--is-dark {
  color: $headline--is-dark;
}

.subtitle {
  font-size: $size-subtitle;
}

.button, button:not(.navbar-toggler) {
  border-radius: 10px;
  padding: 1rem 1.5rem;
  color: #E3B505;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  transition: all 0.3s;

  &:hover {
    text-decoration:none;
   /*  color: #f0e24d;  */
    //@include neumorphism($distance, $blur, $intensity, #3A6060, #4FACAC, true);
  }
}

.button-services {
  background: linear-gradient(145deg, #38536b, #42627f);
  box-shadow:  20px 20px 60px #354e65,
             -20px -20px 60px #476a89;
             transition: all .3s;
  &:hover {
    background: linear-gradient(145deg, #38536b, #42627f);
    box-shadow:  20px 20px 60px #354e65 inset,
               -20px -20px 60px #476a89 inset;
  }
}

.button-about {
  background: linear-gradient(145deg, #446e6e, #508383);
  box-shadow:  20px 20px 60px #406868,
             -20px -20px 60px #568c8c;
             transition: all .3s;
  &:hover {
    background: linear-gradient(145deg, #446e6e, #508383);
  box-shadow:  20px 20px 60px #406868 inset,
             -20px -20px 60px #568c8c inset;
  }
}

// LINKS
a:not(.no-deco) {
	text-decoration: none;
	color: $color__accent;
	font-weight: 700;
  position: relative;
  z-index: 2;
  transition: all 0.3s;

  &:before {
    content: '';
    background-color: rgba(244, 96, 54, .75)!important;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }

  &:hover {
    &:before {
      bottom: 0;
      height: 100%;
    }
  }
}

.zoom {
  display: block;
  overflow: hidden;
  border-radius: 0.55rem !important;
  &:hover {
    .overlay:after {
      background: transparent;
    }
    .card-img-top {
     transform: scale(1.1);
    }
  }
}

/*************************************/

#home-section {
  background-color: $background__dark;
}

#services-section {
  background-color: $color__secondary;
}

#about-section {
  background-color: #4b7a7a;
}

#contact-section {
  background-color: #3D314A;
}

#work-section {
  background-color: #A54657;
}

.logos-container {
  border-radius: 50%;

  @media(min-width:768px) {
    /* background-color: rgba(255, 255, 255, 0.2); */
  }

  img {
    &:not(.logox2) {
      height: 25px; 
      @media(min-width: 767px) {
        height: 50px;
      }
    }
    &.logox2 {
      width: 150px;
    }
    margin-bottom: 1rem;
  }
}


.scroll {
  position: relative;
  font-size: 1.3em;
  margin-top: 20px;
  display: inline-block;
  height: 100px;
  transition: all 0.5s;
 

  &:after {
    border-right: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
  }

  &:hover:after {
    border-color: $color__hover;
  }
}

#upBtnContainer {

  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  opacity: 0;
  transition: opacity .5s;
  
  &.show {
    @media(max-width: 992px) { 
      opacity: 1;
    }
  }
}

#upBtn {
  position: relative;
  display: inline-block;
  background-color: $color__primary; /* Set a background color */
  color: $color__accent; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 17px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  transition: all .5s;
  font-size: 0;

  &:after {
    border-right: 2px solid $color__accent;
    border-bottom: 2px solid $color__accent;
    -ms-transform: rotate(-136deg) ;
    -webkit-transform: rotate(-136deg) ;
    transform: rotate(-136deg);
    color: $color__accent;
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    margin: auto;
    top: 14px;
    right: 0;
    left: 1px;
  }
}

#upBtn:hover {
  background-color: $color__accent; /* Add a dark-grey background on hover */

  &:after {
    border-color: $color__primary;
  }
}

.tp-bullets {
  position: fixed;
  display: none;
  z-index: 10;
  left: 15px;
  height: 122px; 
  width: 10px;
  top: 50%;
  transform: translateY(-50%);

  @media(min-width: 768px) {
    display: block;
  }
}

.tp-bullet {
  width: 10px;
  height: 10px;
  margin: 0 9px;
  position: absolute;
  background-color: $color-off-white;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;

  &.active {
    background-color: $color__accent;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
 /*  background-color: #a54657; */
  background: linear-gradient(145deg, #b14b5d, #953f4e);
  background-clip: border-box;
  border: 0.0625rem solid rgba(243, 247, 250, 0.05);
  border-radius: 25px;

  
  &.shadow-soft {
   box-shadow: 3px 3px 10px #8b3b49,
             -3px -3px 10px rgba(191, 81, 101, 1) !important; 
          /*     
             box-shadow:  20px 20px 60px #813744,
             -20px -20px 60px #c9556a;           box-shadow:  20px 20px 60px #8c3c4a,
             -20px -20px 60px #be5164; */
  }

  &.bg-primary {
    background-color: #a54657!important;
  }

  .card-header {
    background-color: transparent;
    border: none;
    overflow:hidden; 
    a {
    border: 2px solid #73303c;
    }

  }

  .rounded-top {
    border-top-left-radius: 0.55rem !important;
    border-top-right-radius: 0.55rem !important;
  }

  .rounded {
    border-radius: 0.55rem !important;
  }

  .card-img-top {
    transition: all 0.5s;
    position: relative;
  }

  .card-text {
    font-size: 1em;
    line-height: 1.3;
  }

  a {
    font-weight: 400;
  }
}

.overlay {
  position: relative;
  
  
  &:after {
    border-radius: 0.55rem !important;
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .3);
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }
}

.work-slider {
  .slick-track {
    display: flex !important;
  }

  .slick-list {
    margin: 0 -15px;
  }

  .slick-slide {
    margin: 0 27px;
    height: auto;

    @media(min-width: 992px) {
      margin: 0 8px;
    }
  }
}


.slick-dots {
  position: absolute;
  bottom: -55px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 16px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #8b3b49;
  box-shadow: 3px 3px 10px #8b3b49,
  -3px -3px 10px rgba(191, 81, 101, 1); 

  &:hover {
    box-shadow: inset 2px 2px 5px #8b3b49, inset -3px -3px 7px rgba(191, 81, 101, 1);
  }
}

.slick-dots li.slick-active button{
  box-shadow: inset 2px 2px 5px #8b3b49, inset -3px -3px 7px rgba(191, 81, 101, 1);
}

.slick-prev, .slick-next {
  font-size: 0!important;
  line-height: 0;
  position: absolute;
  top: auto;
  bottom: -74px;
  display: block;
  width: 60px;
  height: 60px;
  padding: 2em!important;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  border: 1px solid ;
  border-radius: 50%!important;
  border: 1px solid #8b3b49;
  outline: none;
  background: transparent;
  box-shadow: 3px 3px 10px #8b3b49,
  -3px -3px 10px rgba(191, 81, 101, 1); 
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(min-width: 992px) {
    top: 50%;
    bottom: auto;
  }

  &:hover {
    box-shadow: inset 2px 2px 10px #8b3b49,
  inset -3px -3px 10px rgba(191, 81, 101, 1); 
  }
}

.slick-next {
  right: 37%;
  transform: translateX(-50%);

  @media(min-width: 992px) {
    right: -83px;
  }

  &:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: 25px;
  }
}

.slick-prev {
    left: 27px;
    display: none!important;

    @media(min-width: 992px) {
      left: -58px;
      display:flex!important;
      z-index: 2;
    }

    &:before {
      content: "\f053";
      font-family: "Font Awesome 5 Free";
      font-size: 25px;
    }
}