/**********************************************
		ELEMENT STYLING

		**************************************/

/**********************************************
    LEAVE THE FOLLOWING SECTION 
  	**************************************/

/* HEADER / NAV CONTAINER */

header.header {
  background-color: $background__dark;
  width: 100%;
  position: relative;
  top: 1px;
  z-index: 100;
  opacity: 1;
  -webkit-box-shadow: -1px 5px 15px -4px rgba(0,0,0,0); 
  box-shadow: -1px 5px 15px -4px rgba(0,0,0,0);
  transition: all .5s;

  &.sticky {
    position: fixed;
    -webkit-animation: 1s slide ease;
    animation: 1s slide ease;
    -webkit-box-shadow: -1px 5px 15px -4px rgba(0,0,0,0.42); 
    box-shadow: -1px 5px 15px -4px rgba(0,0,0,0.42);
  }
}



.circled {
  border-radius: 50%;
}

.item {
  filter: grayscale(100%);
}

.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2); 
}

.item {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.element-on-mobile-only {
  @media(min-width: 1200px) {
    display: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

// COLORS
.color-accent  {
  color: $color__accent;
}


h2 {
  color: $color__headline;
}

p, li {
  font-size: 1.3em;
  margin-bottom: 1rem;
  
  .color-white {
    color: white;
    font-size: 1.4em;
  }
}

p {
  line-height: 1.7;
}

li {
  line-height: 1;
}


// TYPO
.bold {
  font-weight: $bold;
}
.uppercase {
  text-transform: uppercase;
}
.headline {
  font-family: $font__headline;
  font-weight: 700;
  font-size: $size-headline;
}

.headline--is-gigantic {
  font-size: $size-headline-gigantic;
}
.headline--is-small {
  font-size: $size-smaller-headline;
  font-weight: 400;
}
.headline--is-light {
  color: $headline--is-light;
}
.headline--is-dark {
  color: $headline--is-dark;
}

.subtitle {
  font-size: $size-subtitle;
}

.button, button:not(.navbar-toggler) {
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -3px -3px 4px 0 rgba(255, 255, 255, 0.15),
    inset 3px 3px 6px 0 rgba(0, 0, 0, 0),
    inset  -3px -3px 4px 0 rgba(255, 255, 255, 0);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  color: #E3B505;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  transition: all 0.3s;

  &:hover {
    text-decoration:none;
    color: #f0e24d; 
    box-shadow:
     12px 12px 16px 0 rgba(0, 0, 0, 0),
    -3px -3px 4px 0 rgba(255, 255, 255, 0),
    inset 3px 3px 6px 0 rgba(0, 0, 0, 0.25),
    inset  -3px -3px 4px 0 rgba(255, 255, 255, 0.15);
  }
}

// LINKS
a:not(.no-deco) {
	text-decoration: none;
	color: $color__accent;
	font-weight: 700;
  position: relative;
  z-index: 2;

  &:before {
    content: '';
    background-color: rgba(244, 96, 54, .75)!important;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }

  &:hover {
    &:before {
      bottom: 0;
      height: 100%;
    }
  }
}

/*************************************/

#home-section {
  background-color: $background__dark;
}

#services-section {
  background-color: $color__secondary;
}

#about-section {
  background-color: #A54657;
}

#contact-section {
  background-color: #5e565a;
}

.logos-container {
  border-radius: 50%;

  @media(min-width:768px) {
    /* background-color: rgba(255, 255, 255, 0.2); */
  }

  img {
    &:not(.logox2) {
      height: 50px;
    }
    &.logox2 {
      width: 150px;
    }
    margin-bottom: 1rem;
  }
}


.scroll {
  position: relative;
  font-size: 1.3em;
  margin-top: 20px;
  display: inline-block;
  height: 100px;
 

  &:after {
    border-right: 4px solid #FFF;
    border-bottom: 4px solid #FFF;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 10px;
    right: 0;
    left: 0;
    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;
  }
}

#upBtnContainer {

  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  opacity: 0;
  transition: opacity .5s;
  
  &.show {
    @media(max-width: 992px) { 
      opacity: 1;
    }
  }
}

#upBtn {
  position: relative;
  display: inline-block;
  background-color: $color__primary; /* Set a background color */
  color: $color__accent; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  transition: all .5s;
  font-size: 0;
  width: 79px;
  height: 79px;

  &:after {
    border-right: 4px solid $color__accent;
    border-bottom: 4px solid $color__accent;
    -ms-transform: rotate(-136deg) ;
    -webkit-transform: rotate(-136deg) ;
    transform: rotate(-136deg);
    color: $color__accent;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto;
    top: 30px;
    right: 0;
    left: 0;
  }
}

#upBtn:hover {
  background-color: $color__accent; /* Add a dark-grey background on hover */

  &:after {
    border-color: $color__primary;
  }
}

.tp-bullets {
  position: fixed;
  display: none;
  z-index: 1000;
  left: 15px;
  height: 122px; 
  width: 10px;
  top: 50%;
  transform: translateY(-50%);

  @media(min-width: 768px) {
    display: block;
  }
}

.tp-bullet {
  width: 10px;
  height: 10px;
  margin: 0 9px;
  position: absolute;
  background-color: $color-off-white;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;

  &.active {
    background-color: $color__accent;
  }
}