/**********************************************
		TITLES STYLING

		**************************************/



h4 {
	font-size: 1.3em;
	
	a {
		color: white!important;
		text-decoration: none;
		transition: all 0.5s;
		display: block;

		&:hover {
			/* opacity: 0.7; */
			color: $color__accent!important;
			text-decoration: none;
			/* transform: translateY(1px); */
		}
	}
}

h5 {
	font-size: 1.1em;
}