/**********************************************
		ANIMATIONS

		**************************************/

@keyframes arrow {
  0%,100% {
    top:10px;
  }
  50% {
    top:30px;
  }
}
* {
  box-sizing: border-box;
}

